body{
    border: 8px solid black;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    /* align-items: center; */
    min-height: 600px;
    gap: 10px;
    flex-wrap: nowrap;
    /* align-content: space-evenly;*/
}
#box{
    /* flex-shrink: 0; */
    /* flex-grow: 5; */
    align-self: flex-end
    ;
}
.div{
    flex-shrink: 1;
    /* flex-grow:  1; */
    min-width: 50px;
    width: 100px;
    height: 100px;
    background-color: blue;
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
}